<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    {% comment %} <link
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
      rel="stylesheet"
    /> {% endcomment %}
  
    <style>
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    </style>
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body class="bg-light">
    <nav
      class="navbar navbar navbar-expand-lg fixed-top"
      style="
        background-color: rgba(248, 248, 248, 1);
        border: solid 1px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
      "
    >
      <div class="container-fluid">
        <img
          src=" {% static 'gprec.png' %} "
          alt="img/TopHeader.jpg"
          class="img-fluid mx-2"
          style="height: 60px"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'student' or request.resolver_match.url_name == 'inactive' or request.resolver_match.url_name == 'detention' %}active{% endif %}"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Students
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">Status</a></li>
                <li>
                  <a class="dropdown-item" href="/detention">Detention</a>
                </li>
                <li><a class="dropdown-item" href="/inactive">Inactive</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'student_mapping' %}active{% endif %}"
                href="/student_mapping"
                >Student_mapping</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'faculty_mapping' %}active{% endif %}"
                href="/faculty_mapping"
                >Staffing</a
              >
            </li>
            
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'show' %}active{% endif %}"
                href="/show"
                >Subjects</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'marks' %}active{% endif %}"
                href="/marks"
                >Marks</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid" style="height: 56px"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    

    <script>
      // Use jQuery to add mx-2 class to each nav-link
      $(document).ready(function () {
        $(".navbar-nav .nav-link").addClass("mx-1");
        $("label").addClass("fw-bold");
      });
    </script>
    {% block body %}{% endblock body %}
  </body>
</html>
