{% extends "base.html" %}
{% block title %}Comprehensive{% endblock title %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card card-info">
                <div class="card-header">
                    <div class="p-3">
                        <form>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="rollno" class="form-label small">Roll No.:</label>
                                    <input type="text" class="form-control" id="rollno" name="rollno" placeholder="Roll No.of student">
                                </div>
                                <div class="col-md-4">
                                    <label for="scheme" class="form-label small">Scheme.:</label>
                                    <input type="text" class="form-control" id="scheme" name="scheme" placeholder="Scheme">
                                </div>
                                <div class="col-md-4">
                                    <label for="semester" class="form-label small">Semester:</label>
                                    <input type="text" class="form-control" id="semester" name="semester" placeholder="Semester">
                                </div>
                                
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="branch" class="form-label small">Branch:</label>
                                    <input type="text" class="form-control" id="branch" name="branch" placeholder="Branch">
                                </div>
                                <div class="col-md-6">
                                    <label for="section" class="form-label small">Section.:</label>
                                    <input type="section" class="form-control" id="section" name="section" placeholder="Section">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="gpa" class="form-label small">GPA of student</label>
                                    <input type="number" class="form-control" id="gpa" name="gpa" placeholder="GPA of student">
                                </div>
                                <div class="col-md-4">
                                    <label for="cgpa" class="form-label small">CGPA of student.:</label>
                                    <input type="number" class="form-control" id="cgpa" name="cgpa" placeholder="CGPA of student">
                                </div>
                                <div class="col-md-4">
                                    <label for="total_credits" class="form-label small">Overall Credits:</label>
                                    <input type="number" class="form-control" id="total_credits" name="total_credits" placeholder="Overall Credits">
                                </div>                                
                            </div>
                            
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">is_active</label>
                            </div>
                            




                            
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}