{% extends "base.html" %}
{% block title %}Detention {% endblock title %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card card-info my-5">
                <div class="card-header">
                    <div class="p-3">
                        <form>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="roll_no" class="form-label small">Roll No.:</label>
                                    <input type="text" class="form-control" id="roll_no" name="roll_no", placeholder="Roll Number">
                                </div>
                                <div class="col-md-4">
                                    <label for="finished_sem" class="form-label small">Finished Semester:</label>
                                    <input type="text" class="form-control" id="finished_sem" name="finished_sem" placeholder="Finished Semester">
                                </div>
                                <div class="col-md-4">
                                    <label for="last_scheme" class="form-label small">Last Scheme:</label>
                                    <input type="number" class="form-control" id="last_scheme" name="last_scheme" placeholder="last scheme">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label for="reason" class="form-label small">Reason:</label>
                                    <input type="text" class="form-control" id="reason" name="reason" placeholder="Reason">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
