{% extends "base.html" %}
{% block title %}Detention{% endblock title %}
{% block body %}
<div class="container my-5">
    <!-- Detained student List -->
    <div class="card">
        <div class="card-header p-3">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="p-1">Detained Student List</h4>
                </div>
                <div class="col-md-6 text-right">
                    <!-- Search or Filter Input -->
                    <input type="text" id="searchInput" class="form-control" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="card-body">  
            <div class="table-responsive">   
            <!-- Records Table -->
            <table id="dataTable" class="table">  
                <!-- Table Header -->
                <thead>
                <tr>
                    <th>Roll No.</th>
                    <th>Type</th>
                    <th>Attendance</th>
                    <th>Finished Semester</th>
                    <th>Previous Scheme</th>
                    <th>Year</th>
                </tr>
                </thead>
                <!-- Table Body -->
                <tbody>
                {% for record in records %}
                    {% comment %} <tr>
                        <td>{{ record.subject }}</td>
                        <td>{{ record.scheme }}</td>
                        <td>{{ record.semester }}</td>
                        <td>{{ record.type }}</td>
                    </tr> {% endcomment %}

                {% endfor %}
                </tbody>
            </table>
        </div>  
        </div> 


        <!-- Pagination -->
        <div class="card-footer mt-2">
            <div class="d-flex justify-content-between">
                <span>Showing {{ records.start_index }} to {{ records.end_index }} of {{ records.paginator.count }} records</span>
                <ul class="pagination">
                    {% if records.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ records.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <li class="page-item active"><span class="page-link">{{ records.number }}</span></li>
                    {% if records.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ records.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var input = document.getElementById('searchInput');
        var table = document.getElementById('dataTable');
        var rows = table.getElementsByTagName('tr');
    
        input.addEventListener('keyup', function () {
            var filter = input.value.toLowerCase();
    
            for (var i = 1; i < rows.length; i++) {
                var rollno = rows[i].getElementsByTagName('td')[0].textContent.toLowerCase();
                var finished_sem = rows[i].getElementsByTagName('td')[1].textContent.toLowerCase();
                var last_scheme = rows[i].getElementsByTagName('td')[2].textContent.toLowerCase();
                var dyear = rows[i].getElementsByTagName('td')[3].textContent.toLowerCase();
    
                if (rollno.indexOf(filter) > -1 || finished_sem.indexOf(filter) > -1 || last_scheme.indexOf(filter) > -1 || dyear.indexOf(filter) > -1) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        });
    });
    
</script>

{% endblock body %}