{% extends "base.html" %}
{% block title %}Electives{% endblock title %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card card-info my-5">
                <div class="card-header">
                    <div class="p-3">
                        <form>
                            
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="roll_no" class="form-label small">Roll No.:</label>
                                    <input type="text" class="form-control" id="roll_no" name="roll_no" placeholder="Roll number">
                                </div>
                                <div class="col-md-6">
                                    <label for="semester" class="form-label small">Semester:</label>
                                    <input type="text" class="form-control" id="semester" name="semester" placeholder="semester">
                                </div>
                            </div>

                            

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="category" class="form-label small">Category:</label>
                                    <input type="text"  class="form-control" id="category" name="category" placeholder="Category">
                                </div>
                                <div class="col-md-6">
                                    <label for="chosen_subject" class="form-label small">Chosen Elective:</label>
                                    <input type="text" class="form-control" id="chosen_subject" name="chosen_subject" placeholder="Choose Elective">
                                    
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
