{% extends "base.html" %}
{% block title %}Comprehensive{% endblock title %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card card-info my-5">
                <div class="card-header">
                    <div class="p-3">
                        <form>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="rollno" class="form-label small">Roll No.:</label>
                                    <input type="text" class="form-control" id="rollno" name="rollno" placeholder="Roll No.of student">
                                </div>
                                <div class="col-md-4">
                                    <label for="subject" class="form-label small">Subject:</label>
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                                </div>
                                <div class="col-md-4">
                                    <label for="semester" class="form-label small">Semester:</label>
                                    <input type="text" class="form-control" id="semester" name="semester" placeholder="Semester">
                                </div>
                                
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="cia_marks" class="form-label small">Internal:</label>
                                    <input type="number" class="form-control" id="cia_marks" name="cia_marks" placeholder="CIA marks">
                                </div>
                                <div class="col-md-4">
                                    <label for="end_exam_marks" class="form-label small">External:</label>
                                    <input type="number" class="form-control" id="end_exam_marks" name="end_exam_marks" placeholder="End exam marks">
                                </div>
                                <div class="col-md-4">
                                    <label for="total_marks" class="form-label small">Total:</label>
                                    <input type="number" class="form-control" id="total_marks" name="total_marks" placeholder="Toatl marks">
                                </div>                                
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="credits" class="form-label small">Credits:</label>
                                    <input type="text" class="form-control" id="credits" name="credits" placeholder="Credits">
                                </div>
                            </div>
                            
                            
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="backlog">
                                <label class="form-check-label" for="backlog">backlog</label>
                            </div>
                            




                            
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}