{% extends "base.html" %}
{% block title %}Student mapping{% endblock title %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static "bbbootstrap.css" %}">
<div class="container  my-5"> 
    <div class="row mt-4">
        <div class="col-md-6">
            <h4 class="p-1">Student-Subject mapping</h4>
        </div>
        <div class="col-md-6">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="scheme">Scheme:</label>
                            <select class="form-select" id="scheme" name="scheme" aria-label="select scheme">
                                <option disabled selected hidden>Select scheme</option>
                                {% comment %} <option value="scheme13">Scheme 13</option>
                                <option value="scheme17">Scheme 17</option>
                                <option value="scheme20">Scheme 20</option>
                                <option value="scheme23">Scheme 23</option> {% endcomment %}
                            </select>
                        </div>
                    </div>
                        
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="branch">Branch:</label>
                            <select class="form-select" id="branch" name="branch" aria-label="select branch">
                                <option disabled selected hidden>Branch</option>
                                {% comment %} <option value="cse">CSE</option>
                                <option value="ece">ECE</option>
                                <option value="eee">EEE</option>
                                <option value="civ">CIV</option>
                                <option value="mec">MEC</option> {% endcomment %}
                            </select>
                        </div>
                    </div>
    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="semester">Sem:</label>
                            <select class="form-select" id="semester" name="semester" aria-label="select semester">
                                <option disabled selected hidden>Semester</option>
                                <option value="1">I</option>
                                <option value="2">II</option>
                                <option value="3">III</option>
                                <option value="4">IV</option>
                                <option value="5">V</option>
                                <option value="6">VI</option>
                                <option value="7">VII</option>
                                <option value="8">VIII</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary mt-4">Go</button>
                    </div> 
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="table-responsive">
            <table class="table">
                <!-- Table Header -->
                <thead>
                <tr>
                    <th>Roll no</th>
                    <th>Student</th>
                    <th>Edit</th>
                    <th>
                        <input type="checkbox"  id="selectAll" class="btn-check" onchange="selectAllCheckboxes()">
                        <label for="selectAll" class="btn btn-sm btn-outline-dark rounded-circle border-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" stroke="currentColor" stroke-width="1"/>
</svg></label>
                    </th>
                </tr>
                </thead>
                <!-- Table Body -->
                <tbody>
                    
    
                    
                    <tr>
                        <td>209X1A2862</td>
                        <td class="text-success">General</td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                  </svg>
                            </button>
                            <!-- Edit Modal for each record -->
                    <div class="modal fade" id="editModal" data-bs-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
    
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Record</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
    
                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <form>
                                        {% csrf_token %}  
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="modalrollno">Roll no:</label>
                                                    <input class="form-control-plaintext" id="modalrollno" name="modalrollno" value="Rollno" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="modalscheme">Scheme:</label>
                                                    <input class="form-control-plaintext" id="modalscheme" name="modalscheme" value="Scheme" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="modalbranch">Branch:</label>
                                                    <input class="form-control-plaintext" id="modalbranch" name="modalbranch" value="Branch" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="modalsemester">Semester:</label>
                                                    <input class="form-control-plaintext" id="modalsemester" name="modalsemester" value="Sem" readonly>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="row mt-2">
                                            <label for="subject">Choose subjects:</label>
                                            <select class="choices-multiple-remove-button"  name="subject" id="subject" placeholder="Search" multiple>
                                                <option value="EM1" selected>Engineering Mathematics 1</option>
                                                <option value="PPS" selected>Programming for Problem Solving</option>
                                                <option value="ENG" selected>English</option>
                                                <option value="EEE" selected>Elements of Electrical Engineering</option>
                                                <option value="EDC">Electronic Devices and Circuits</option>
                                                <option value="AP">Applied Physics</option>
                                                <option value="EM2">Engineering Mathematics 2</option>
                                                <option value="PSM">Probability & Statistical Methods</option>
                                                <option value="DS">Data Structures</option>
                                            </select>
                                        </div>
                                        <div class="row mt-2">
                                            <label for="professional_elective">Choose Professional Electives:</label>
                                            <select class="choices-multiple-remove-button"  name="professional_elective" id="professional_elective" placeholder="Search" multiple>
                                                <option value="EM1" selected>Engineering Mathematics 1</option>
                                                <option value="PPS" selected>Programming for Problem Solving</option>
                                                <option value="EDC">Electronic Devices and Circuits</option>
                                                <option value="AP">Applied Physics</option>
                                                <option value="DS">Data Structures</option>
                                            </select>
                                        </div>
                                        <div class="row mt-2">
                                            <label for="open_elective">Choose Open Electives:</label>
                                            <select class="choices-multiple-remove-button" id="open_elective"  name="open_elective" placeholder="Search" multiple>
                                                <option value="EM1" selected>Engineering Mathematics 1</option>
                                                <option value="EEE" selected>Elements of Electrical Engineering</option>
                                                <option value="EDC">Electronic Devices and Circuits</option>
                                                <option value="AP">Applied Physics</option>
                                                <option value="EM2">Engineering Mathematics 2</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                        </td>
                        <td>
                            <input type="checkbox" class="btn-check" name="check" onchange="updateSelectAll()" id="1">
                            <label for="1" class="btn btn-sm btn-outline-primary rounded-circle border-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" stroke="currentColor" stroke-width="1"/>
                                </svg>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>209X1A2862</td>
                        <td class="text-success">General</td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                </svg>
                            </button>
                        </td>
                        <td>
                            <input type="checkbox" class="btn-check"  name="check" onchange="updateSelectAll()" id="2">
                            <label for="2" class="btn btn-sm btn-outline-primary rounded-circle border-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" stroke="currentColor" stroke-width="1"/>
                                </svg>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>209X1A2862</td>
                        <td class="text-success">General</td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                  </svg>
                            </button>
                        </td>
                        <td>
                            <input type="checkbox" class="btn-check"  name="check" onchange="updateSelectAll()" id="3">
                            <label for="3" class="btn btn-sm btn-outline-primary rounded-circle border-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" stroke="currentColor" stroke-width="1"/>
                                </svg>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>209X1A2862</td>
                        <td class="text-success">General</td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                  </svg>
                            </button>
                        </td>
                        <td>
                            <input type="checkbox" class="btn-check"  name="check" onchange="updateSelectAll()" id="4">
                            <label for="4" class="btn btn-sm btn-outline-primary rounded-circle border-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" stroke="currentColor" stroke-width="1"/>
                                </svg>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>219X1A2862</td>
                        <td class="text-danger">Detained</td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                  </svg>
                            </button>
                        </td>
                        <td>
                            <input type="checkbox" class="btn-check"  name="check" onchange="updateSelectAll()" id="5">
                            <label for="5" class="btn btn-sm btn-outline-primary rounded-circle border-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" stroke="currentColor" stroke-width="1"/>
                                </svg>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>189X1A2862</td>
                        <td class="text-warning">Gap</td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                  </svg>
                            </button>
                        </td>
                        <td>
                            <input type="checkbox" class="btn-check"  name="check" onchange="updateSelectAll()" id="6">
                            <label for="6" class="btn btn-sm btn-outline-primary rounded-circle border-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" stroke="currentColor" stroke-width="1"/>
                                </svg>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{% static "bbbootstrap.js" %}"></script>
<script>
    $(document).ready(function(){

        var multipleCancelButton = new Choices('.choices-multiple-remove-button', {
            removeItemButton: true,
            maxItemCount:10,
            searchResultLimit:3,
            renderChoiceLimit:2
        }); 
    });

    
    function selectAllCheckboxes() {
        var selectAllCheckbox = document.getElementById("selectAll");
        var checkboxes = document.querySelectorAll("tbody input[type='checkbox']");
    
        for (var i = 0; i < checkboxes.length; i++) {
          checkboxes[i].checked = selectAllCheckbox.checked;
        }
    }

    function updateSelectAll() {
        var selectAllCheckbox = document.getElementById("selectAll");
        var checkboxes = document.querySelectorAll("tbody input[type='checkbox']");
        var allChecked = true;
    
        for (var i = 0; i < checkboxes.length; i++) {
          if (!checkboxes[i].checked) {
            allChecked = false;
            break;
          }
        }
    
        selectAllCheckbox.checked = allChecked;
      }
    
    
        $(document).ready(function () {
            var schemeDropdown = $('#scheme');
            var scheme_data = {{ scheme_data|safe }};
            var branchDropdown = $('#branch') // Initialize Choices instance
            console.log(scheme_data)
            // Populate Scheme dropdown
            scheme_data.forEach(function (scheme) {
                schemeDropdown.append('<option value="' + scheme.scheme + '">' + scheme.scheme + '</option>');
            });
    
            // Event handler for Scheme dropdown change
            schemeDropdown.change(function () {
                var selectedScheme = $(this).val();
                console.log(selectedScheme);
                var selectedSchemeData = scheme_data.find(function (sch) {
                    return sch['scheme'] === selectedScheme;
                });
    
                // Clear existing options in Branch dropdown
                branchDropdown.empty();
                branchDropdown.append('<option disabled selected hidden>Branch</option>');

                // Populate Branch dropdown with branches of the selected scheme
                if (selectedSchemeData) {
                    selectedSchemeData.branches.forEach(function (branch) {
                        branchDropdown.append('<option value="' + branch + '">' + branch + '</option>');
                    });
                }
            });
        });

</script>

{% endblock body %}
