{% extends "base.html" %}
{% block title %}Student mapping{% endblock title %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card card-info">
                <div class="card-header">
                    <div class="p-3">
                        <form>                               
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label for="rollno" class="form-label small">Roll No.:</label>
                                    <input type="text" class="form-control" id="rollno" name="rollno" placeholder="Roll No.of student">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label for="course_code" class="form-label small">Course code:</label>
                                    <input type="text" class="form-control" id="course_code" name="course_code" placeholder="Course code">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
